* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    padding: 15px;
    background-color: powderblue;
}
#main {
    width: 1008px;
    height: 669px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid red;*/
}
#main .Jiu {
    width: 300px;
    height: 195px;
    margin: 10px 14px;
    background-color: #ffffff;
    position: relative;
    float: left;
    border-radius: 5px;
    padding: 4px;
}
img {
    width: 300px;
    height: 195px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
img:hover {
    transform: scale(1.1);
    z-index: 2;
}
